{% extends 'base.html.twig' %}

{% block title %}Typesbien index{% endblock %}

{% block body %}
    <h1>Typesbien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type_bien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typesbien in typesbiens %}
            <tr>
                <td>{{ typesbien.id }}</td>
                <td>{{ typesbien.typeBien }}</td>
                <td>
                    <a href="{{ path('app_typesbien_show', {'id': typesbien.id}) }}">show</a>
                    <a href="{{ path('app_typesbien_edit', {'id': typesbien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_typesbien_new') }}">Create new</a>
{% endblock %}
